:root {
    --footer-text-color: #f4f4fd;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*---------HEADER---------*/

.header {
    border-bottom: 1px solid #e7e9fc
}
 
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-nav {
    display: flex;
    gap: 40px;
}

.header-list {
    display: flex;
    gap: 40px;

}

.header-list li:last-child {
    margin-right: 0;
}

.header-navigation {
    display: flex;
    align-items: center;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}


nav .logo .logotext {
    color: #2e2f42;
}

.but {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    
}

nav .but:hover, .but:focus {
    color: #404bbf;

}

.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.link:hover, .link:focus {
    color: #404bbf;
}

.contactadrs:hover, .contactadrs:focus {
    color: #404bbf;
}

.contactadrs{
    font-style: normal;
}

/*------------------*/

/*---------HERO---------*/
.background {
    background: #2e2f42;
    padding: 188px 0;
}

.mainheader {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}


button:hover, button:focus {
    background-color: #404bbf;
}

.header-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin: 0;
}

.headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 8px;
}

.smalltext {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;   
}

/*------------------*/

/*---------Rules---------*/

.rules {
    padding: 120px 0;
}

.rules-list {
    align-items: center;
    display: flex;
    gap: 24px;
}

.rules-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);

}


/*------------------*/

/*---------Portfolio---------*/

.portfolio {
    padding: 120px 0 120px 0;    
}

.portfolioitems {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}


.portfolio-header {
    margin-bottom: 72px;
}


.portfolio .portfolio-container .portfolio-list .headers {
    margin-bottom: 8px;
}

.portfolioitems-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

/*-------------------------*/

/*---------Footer---------*/

.footer {
    background-color:#2e2f42;
    padding: 100px 0;

}
 
.footer .footer-container .footerlogo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer .footer-container .footerlogo .logotext {
    color: #f4f4fd;
    
}

.footertext {
    line-height: 1.5;
    color: var(--footer-text-color);
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*------------------------------*/
nav ul li:first-child .but:hover,
nav ul li:first-child .but:focus {
    color: #404bbf;
}

/*------------Teams-------------*/

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

.people {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list-container {
    padding: 32px 0;

}

.team .team-container .header-team {
    margin-bottom: 72px;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;

}

.team-list .people .smalltext {
    text-align: center;

}
/*-------------------------------*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-top: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
    height: auto
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

